/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/primary
 * -----------------------------------------------------------------------------
 */

%btn-filter,
.btn-filter {
  @extend %btn;
  @extend %py-1x;
  background-color: $color-white;
  border-bottom: 1px solid $color-primary;
  color: $color-primary;

  &:first-of-type,
  &.is-first {
    border-top: 1px solid $color-primary;
  }
}