/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/global
 * -----------------------------------------------------------------------------
 */

%btn,
.btn {
  @extend %px-8x;
  align-items: center;
  display: flex;
  justify-content: center;
  @include font-bold();
  max-width: 360px;
  min-height: 30px;
  transition: background-color .1s ease-in;
}
