/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/info
 * -----------------------------------------------------------------------------
 */

%btn-info,
.btn-info {
  @extend %btn;
  @extend %btn-full-width;
  background-color: $color-info;
  color: $color-white;

  &:hover {
    background-color: darken($color-info, 15);
  }

}