/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/next
 * -----------------------------------------------------------------------------
 */

.btn-next {
  @extend %link;
  @extend %fs-16x;
  @extend %sm\:fs-18x;
  @extend %md\:fs-24x;
  align-items: center;
  color: $color-primary;
  display: flex;
  @include font-bold();

  span {
    @extend %mr-2x;
    @extend %sm\:mr-3x;
  }

  &:hover {
    color: $color-secondary;
  }

  &.btn-next-wide {
    justify-content: space-between;
    width: 100%;
  }
}