/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/previous
 * -----------------------------------------------------------------------------
 */

.btn-previous {
  @extend %link;
  @extend %fs-16x;
  @extend %sm\:fs-18x;
  @extend %md\:fs-24x;
  align-items: center;
  color: $color-primary;
  display: flex;
  @include font-bold();

  span {
    @extend %ml-2x;
    @extend %sm\:ml-3x;
  }

  &:hover {
    color: $color-secondary;
  }
}