/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/primary
 * -----------------------------------------------------------------------------
 */

%btn-primary,
.btn-primary {
  @extend %btn;
  @extend %px-8x;
  align-items: center;
  background-color: $color-secondary;
  display: flex;
  justify-content: center;
  @include font-bold();
  color: $color-white;
  max-width: 360px;
  min-height: 30px;
  transition: background-color .1s ease-in;

  &:hover {
    background-color: $color-tertiary;
  }
}