/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/primary
 * -----------------------------------------------------------------------------
 */

%btn-primary,
.btn-primary {
  @extend %btn;
  align-items: center;
  background-color: $color-secondary;
  display: flex;
  justify-content: center;
  @include font-bold();
  color: $color-white;
  min-height: 30px;
}