/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/subscribe
 * -----------------------------------------------------------------------------
 */

.btn-subscribe {
  @extend %link;
  @extend %fs-16x;
  @extend %sm\:fs-18x;
  @extend %md\:fs-24x;
  @extend %py-2x;
  @extend %sm\:py-2x;
  align-items: center;
  color: $color-primary;
  display: flex;
  line-height: 1 !important;
  text-decoration: none !important;

  &:hover {
    color: $color-secondary;
  }
  
  &.is-disabled {
    pointer-events: none;
    opacity: .6;
  }

  * {
    line-height: 1 !important;
  }

  span {
    @extend %ml-1x;
    @extend %sm\:ml-2x;
    display: block;
    margin-top: -2px;
  }
}

form .btn-subscribe {
  @extend %py-3x;
  @extend %sm\:py-4x;
  @include font-bold();
  color: $color-quaternary;

  span {
    margin-top: 0;
  }
}