/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/success
 * -----------------------------------------------------------------------------
 */

%btn-success,
.btn-success {
  @extend %btn;
  @extend %btn-full-width;
  background-color: $color-success;
  color: $color-white;

  &:hover {
    background-color: darken($color-success, 15);
  }

  &.is-outline {
    background-color: $color-white;
    border: 1px solid $color-success;
    color: $color-success;
  }

}