/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/switcher
 * -----------------------------------------------------------------------------
 */

%btn-switcher,
.btn-switcher {
  @extend %btn;
  @include font-regular();
  color: $color-black;
  display: inline-flex;
  justify-content: space-between;
  column-gap: $space-2x;
  min-width: auto !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}