/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/warning
 * -----------------------------------------------------------------------------
 */

%btn-warning,
.btn-warning {
  @extend %btn;
  @extend %btn-full-width;
  background-color: $color-warning;
  color: $color-white;

  &:hover {
    background-color: darken($color-warning, 15);
  }

}