/**
 * -----------------------------------------------------------------------------
 * File: form/global
 * -----------------------------------------------------------------------------
 */

input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=date],
input[type=time],
textarea,
select,
button {
  @extend %fs-16x;
  @extend %sm\:fs-18x;
  @extend %md\:fs-24x;
	background-color: transparent;
	border-radius: 0;
	border: none;
  color: $color-primary;
	display: block;
	@include font-bold();
	position: relative;
	outline: none !important;
  width: 100%;
	z-index: 1;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: $color-white;
}

input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=date],
input[type=time],
textarea,
.select-wrapper {
  @extend %py-1x;
  background-color: $color-white;
  border-bottom: 1px solid $color-primary;
  color: $color-secondary;
}
 
.select-wrapper select {
  color: $color-secondary;
}

input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=date],
input[type=time],
textarea,
select {
	transition: background-color .12s ease-out;

  &.is-plain {
    border-bottom: none;
    padding-top: 0;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  @extend %fs-16x;
  @extend %sm\:fs-18x;
  @extend %md\:fs-24x;
  color: $color-secondary !important;
  outline: none !important;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
}

textarea {
	height: auto;
  min-height: 90px;

  @include bp-sm() {
    min-height: 120px;
  }

  @include bp-md() {
    min-height: 150px;
  }

  &.is-small {
    @include bp-md() {
      min-height: 100px;
    }
  }
}
 
select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
 
select::-ms-expand {
	display: none;
}

// Reset arrows on number fields (Chrome, Safari, Edge, Opera)
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

// Firefox
input[type=number] {
	-moz-appearance: textfield;
}

input[type=submit],
button {
	background-color: $color-white;
	border-radius: 0;
	color: $color-primary;
	display: block;
	transition: background-color .1s ease-out;
	width: auto;
}