/**
 * -----------------------------------------------------------------------------
 * File: form/layout
 * -----------------------------------------------------------------------------
 */

.form-group {
  @extend %mb-6x;
  @extend %md\:mb-8x;
  position: relative;

  &.has-underline {
    @extend %pb-3x;
    @extend %md\:pb-6x;
    border-bottom: 1px solid $color-primary;
  }

  &.has-grid {
    @extend %sm\:grid-cols-12;
    grid-row-gap: 0;

    > div {
      @extend %sm\:span-3;
    }
  }

  .form-group__radio,
  .form-group__checkbox {
    @extend %mb-2x;
    @extend %sm\:mb-3x;
    align-items: center;
    display: flex;

    &.is-last {
      margin-bottom: 0 !important;
    }
  }

  ul {

    li {
      @extend %sm\:fs-14x;
      @extend %sm\:fs-16x;
      @extend %md\:fs-18x;

      a {
        @extend %py-1x;
        @include font-italic();
        display: block;
      }
    }
  }
}

.form-group-header {
  @extend %fs-14x;
  @extend %sm\:fs-16x;
  @extend %md\:fs-18x;
  @extend %mb-3x;
  @extend %md\:mb-4x;
  position: relative;
  display: block;

  h3 {
    @extend %fs-14x;
    @extend %sm\:fs-16x;
    @extend %md\:fs-18x;
    @include font-regular();
  }
}


.form-helper {
  @extend %fs-14x;
  @extend %sm\:fs-16x;
  @extend %md\:fs-18x;
  color: $color-primary;
  display: inline-block;
  @include font-italic();
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 1px;
  }
}