/**
 * -----------------------------------------------------------------------------
 * File: form/layout
 * -----------------------------------------------------------------------------
 */

.form-group {
  @extend %mb-3x;
}

.form-helper {
  color: $color-primary;
  display: inline-block;
  text-decoration: none;
}