/**
 * -----------------------------------------------------------------------------
 * File: form/placeholder
 * -----------------------------------------------------------------------------
 */

input[type=text]::-webkit-input-placeholder
input[type=email]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder {
  color: $color-primary;
  padding: 0;
  line-height: 1;
}

input[type=text]::-moz-placeholder {
  color: $color-primary;
  padding: 0;
  opacity: 1 !important;
  line-height: 1;
}

input[type=text]:-ms-input-placeholder {
  color: $color-primary;
  padding: 0;
  line-height: 1;
}

input[type=text]:-moz-placeholder {
  color: $color-primary;
  padding: 0;
  opacity: 1 !important;
  line-height: 1;
}

input[type=number]::-webkit-input-placeholder {
  color: $color-primary;
  padding: 0;
  line-height: 1;
}

input[type=number]::-moz-placeholder {
  color: $color-primary;
  padding: 0;
  line-height: 1;
}

input[type=number]:-ms-input-placeholder {
  color: $color-primary;
  padding: 0;
  line-height: 1;
}

input[type=number]:-moz-placeholder {
  color: $color-primary;
  padding: 0;
  opacity: 1 !important;
  line-height: 1;
}

input[type=email]::-webkit-input-placeholder {
  color: $color-primary;
  padding: 0;
  line-height: 1;
}

input[type=email]::-moz-placeholder {
  color: $color-primary;
  padding: 0;
  opacity: 1 !important;
  line-height: 1;
}

input[type=email]:-ms-input-placeholder {
  color: $color-primary;
  padding: 0;
  line-height: 1;
}

input[type=email]:-moz-placeholder {
  color: $color-primary;
  padding: 0;
  opacity: 1 !important;
  line-height: 1;
}

input[type=password]::-webkit-input-placeholder {
  color: $color-primary;
  padding: 0;
  line-height: 1;
}

input[type=password]::-moz-placeholder {
  color: $color-primary;
  padding: 0;
  opacity: 1 !important;
  line-height: 1;
}

input[type=password]:-ms-input-placeholder {
  color: $color-primary;
  padding: 0;
  line-height: 1;
}

input[type=password]:-moz-placeholder {
  color: $color-primary;
  padding: 0;
  opacity: 1 !important;
  line-height: 1;
}

textarea::-webkit-input-placeholder {
  color: $color-primary;
  padding: 0;
  line-height: 1;
}

textarea::-moz-placeholder {
  color: $color-primary;
  padding: 0;
  opacity: 1 !important;
  line-height: 1;
}

textarea:-ms-input-placeholder {
  color: $color-primary;
  padding: 0;
  line-height: 1;
}

textarea:-moz-placeholder {
  color: $color-primary;
  padding: 0;
  line-height: 1;
}
