/**
 * -----------------------------------------------------------------------------
 * File: form/placeholder
 * -----------------------------------------------------------------------------
 */

input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=password]::placeholder,
input[type=number]::placeholder,
textarea::placeholder {
  @extend %py-1x;
  @include font-italic();
  color: $color-tertiary;
  padding: 0;
  line-height: 1;
}
