/**
 * -----------------------------------------------------------------------------
 * File: form/search
 * -----------------------------------------------------------------------------
 */

.search-container {
  @extend %mb-3x;
  @extend %md\:mb-6x;
  display: flex;
  justify-content: flex-end;
  width: 100%;

  > div {
    position: relative;
    @include bp-sm() {
      max-width: 25%;
    }
  }

  input[type=text] {
    @extend %fs-16x;
    @extend %md\:fs-20x;
    border-bottom: 1px solid $color-tertiary;
  }

  a {
    display: block;
    height: 12px;
    right: 0;
    position: absolute;
    top: 12px;
    width: 12px;
    z-index: 10;

    svg {
      @extend %is-responsive;
    }
  }
}