/**
 * -----------------------------------------------------------------------------
 * File: form/select
 * -----------------------------------------------------------------------------
 */

.select-wrapper {
  background-color: transparent;
  display: block;
  position: relative;
  width: 100%;

	&:after {
    @extend %icon-chevron-down;
	}

	select {
    background-color: transparent !important;
    display: block;
    width: 100%;
    &:hover {
      cursor: pointer;
    }
  }
}