/**
 * -----------------------------------------------------------------------------
 * File: form/validation
 * -----------------------------------------------------------------------------
 */

.has-error,
.error-message,
.errors {
  color: $color-danger;
}

.error-message,
.requirements {
  @extend %fs-14x;
  @extend %md\:fs-16x;
  @extend %pt-2x;
  @include font-italic();
  color: $color-tertiary;
  text-align: right;
  width: 100%;
}
