/**
 * -----------------------------------------------------------------------------
 * File: form/validation
 * -----------------------------------------------------------------------------
 */

input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=date],
input[type=time],
textarea,
select,
button {
  &.is-invalid {
    background-color: rgba($color-danger, .1);
  }
}

.form-group-header,
.form-group {
  &.is-invalid {
    color: $color-danger;

    a, li, h3 {
      color: $color-danger !important;
    }

  }
}

.error-message,
.requirements {
  width: auto;
}

.error-message {
  @extend %fs-14x;
  @extend %md\:fs-16x;
  @extend %pt-2x;
  color: $color-danger;

  &--booking {
    @extend %mb-3x;
    display: block !important;
    padding-top: 0 !important;
  }
}

.requirements {
  @extend %fs-12x;
  @extend %md\:fs-14x;
  @extend %mt-1x;
  color: $color-tertiary;
  display: inline-block;
  text-transform: uppercase;
}
