/**
 * -----------------------------------------------------------------------------
 * File: component/alerts
 * -----------------------------------------------------------------------------
 *
 */

.alert {
  @extend %p-5x;
  color: $color-white;
  display: inline-block;
  max-width: 480px;
  position: fixed;
  right: 20px;
  top: 20px;
  width: auto;

  &.alert--danger {
    background-color: $color-danger;
  }

  &.alert--success {
    background-color: $color-success;
  }
}

