/**
 * -----------------------------------------------------------------------------
 * File: components/cards
 * -----------------------------------------------------------------------------
 */

%card,
.card {
  @extend %p-2x;
  @extend %md\:p-4x;  
}

.card-teaser {
  @extend %card;
  border: 1px solid $color-secondary;

  a {
    color: $color-black;
  }

  header {
    min-height: 70px;
    @include bp-sm() {
      min-height: 90px
    }
    @include bp-md() {
      min-height: 130px
    }
  }

  .card__category {
    @extend %fs-10x;
    @extend %sm\:fs-13x;
    @extend %md\:fs-16x;
    @extend %mb-1x;
    @include font-medium();
    line-height: 1;
  }

  .card__heading {
    @extend %fs-15x;
    @extend %sm\:fs-20x;
    @extend %md\:fs-28x;
    @extend %word-break;
    @include font-regular();
    color: $color-secondary;
    line-height: 1.2;
  }

  figure {
    @extend %mt-2x;
    display: block;
    position: relative;

    > div {
      @extend %p-2x;
      @extend %md\:p-4x;
      @extend %sm\:fs-14x;
      @extend %md\:fs-18x;
      @include font-bold();
      line-height: 1.2;
      background-color: $color-secondary;
      color: $color-white;
      display: none;
      height: 100%;
      position: absolute;
      opacity: 0;
      transition: opacity .12s ease-in-out;
      width: 100%;

      * {
        @include font-bold();
        color: $color-white;
      }

      @include bp-sm() {
        display: block;
      }

      h3 {
        @extend %mb-2x;
      }

      ul {
        @extend %list;

        li {
          @extend %py-1x;
          @extend %md\:py-2x;
        }
      }
    }
  }

  > a:hover {

    figure {

      > div {
        opacity: 1;
      }

    }
  }
}


%card-text-media,
.text-media {

  h1, p {
    @extend %fs-16x;
    @extend %sm\:fs-18x;
    @extend %md\:fs-24x;
    color: $color-secondary;
    @include font-bold();
  }

  figure {
    @extend %xs\:mb-6x;

    img {
      @extend %is-responsive;
    }
  }

  @include bp-sm() {
    display: flex;
    flex-direction: column;
    .text-media__visual {
      order: 2;
    }
  
    .text-media__content {
      margin-bottom: $space-12x;
      order: 1;
    }
  }

  @include bp-md() {
    .text-media__content {
      margin-bottom: $space-16x;
    }
  }
}