/**
 * -----------------------------------------------------------------------------
 * File: components/collapsible
 * -----------------------------------------------------------------------------
 */

.collapsible-container {
  @extend %mt-12x;
  @extend %md\:mt-16x;

  &.is-course-events {
    @extend %mt-3x;
  }
}

.collapsible {
  @extend %content-list-collapsible;

  &.is-hidden {
    * {
      opacity: .8;
    }
  }

  &.is-expanded {

    .btn-collapsible {

      &:before {
        @extend %icon-chevron-up;
      }

      &:after {
        display: none;
      }

      &:hover {
        
        &:before {
          border-bottom-color: $color-tertiary;
        }
      }
    }
  }

  &.is-invalid {
    .btn-collapsible {
      color: $color-danger !important;
    }
  }

  .btn-collapsible {
    @extend %fs-14x;
    @extend %sm\:fs-16x;
    @extend %md\:fs-18x;
    @extend %py-2x;
    @extend %pb-3x;
    @extend %sm\:py-4x;
    @extend %sm\:pb-6x;
    color: $color-quaternary;
    display: block;
    @include font-bold();
    line-height: 1 !important;
    position: relative;
    transition: color .1s ease-in;

    &:after {
      @extend %icon-chevron-down;
    }

    &:before {
      display: none;
    }

    &:hover {
      color: $color-tertiary;
      
      &:after {
        border-top-color: $color-tertiary;
      }
    }
  }
}