/**
 * -----------------------------------------------------------------------------
 * File: components/collapsible
 * -----------------------------------------------------------------------------
 */

.collapsible {
  @extend %content-list-collapsible;

  &.is-expanded {

    .btn-collapsible {
      &:before {
        @extend %icon-chevron-up;
      }
      &:after {
        display: none;
      }
    }
  }

  .btn-collapsible {
    @extend %fs-14x;
    @extend %sm\:fs-16x;
    @extend %md\:fs-18x;
    color: $color-tertiary;
    display: block;
    @include font-bold();
    line-height: 1 !important;
  }

  .btn-collapsible {
    @extend %py-2x;
    @extend %sm\:py-4x;
    position: relative;

    &:after {
      @extend %icon-chevron-down;
    }
    &:before {
      display: none;
    }
  }
}