/**
 * -----------------------------------------------------------------------------
 * File: components/filter
 * -----------------------------------------------------------------------------
 */

.filter {
  h2 {
    @extend %fs-16x;
    @extend %mb-8x;
    @include font-bold();
  }

  .filter__items {
    border-top: 2px solid $color-tertiary;
  }
  
  .filter__item {
    align-items: center;
    border-bottom: 2px solid $color-tertiary;
    display: flex;
    min-height: 40px;

    &.is-active {
      color: $color-tertiary;
      @include font-bold();

      a, select {
        color: $color-tertiary;
        @include font-bold();
      }
    }

    .select-wrapper {
      align-items: center;
      border-bottom: none;
      display: flex;
      min-height: inherit;
    }
  }

  .filter__buttons {
    align-items: center;
    display: flex;
    flex-direction: column;

    .btn-primary {
      width: 100%;
    }

    .link-helper {
      @extend %py-4x;
      @include font-bold();
    }
  }
}

@include bp-xs() {
  .filter {
    background-color: $color-white;
    height: 100%;
    left: 16px;
    opacity: 1;
    pointer-events: all;
    position: fixed;
    padding-top: 88px; // 48 + 24 + 16 (min-height header, margin-bottom header, padding-top body)
    top: 0;
    width: calc(100% - 32px);
    z-index: 100;
  }
}

@include bp-sm() {
  .filter {
    display: block !important;

    .filter__buttons {
      align-items: flex-start;
    }
  }
}