/**
 * -----------------------------------------------------------------------------
 * File: components/filter
 * -----------------------------------------------------------------------------
 */

.filter {

  h2, a, select {
    @extend %fs-16x;
  }

  h2, a:not([class*="btn-"]), select {
    @include font-regular();
  }
  
  h2 {
    @extend %mb-8x;
    @include font-bold();
  }

  .filter__items {
    border-top: 1px solid $color-tertiary;
  }
  
  .filter__item {
    align-items: center;
    border-bottom: 1px solid $color-tertiary;
    display: flex;
    min-height: 40px;
    
    &.is-active {
      color: $color-tertiary;
      @include font-bold();

      a, select {
        @include font-bold();
      }
    }

    .select-wrapper {
      align-items: center;
      border-bottom: none;
      display: flex;
      min-height: inherit;

      select {
        color: $color-primary;
      }
    }
  }

  .filter__buttons {
    align-items: center;
    display: flex;
    flex-direction: column;

    .btn-primary {
      width: 100%;
    }

    .link-helper {
      @extend %py-4x;
      @include font-bold();
    }
  }
}

@include bp-xs() {
  .filter {
    background-color: $color-white;
    height: 100%;
    left: 0;
    opacity: 1;
    overflow-y: auto;
    pointer-events: all;
    position: fixed;
    padding-bottom: 48px;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 88px; // 48 + 24 + 16 (min-height header, margin-bottom header, padding-top body)
    top: 0;
    width: 100%;
    z-index: 100;
  }
}

@include bp-sm() {
  .filter {
    display: block !important;

    .filter__buttons {
      align-items: flex-start;
    }
  }
}