/**
 * -----------------------------------------------------------------------------
 * File: component/grid
 * -----------------------------------------------------------------------------
 *
 */

@for $i from 1 through 12 {
  %grid-cols-#{$i},
  .grid-cols-#{$i} {
    display: grid;
    grid-template-columns: repeat($i, minmax(0, 1fr));
    grid-gap: $space-4x;
    @include bp-md() {
      grid-gap: $space-10x;
    }
  }
}

@for $i from 1 through 12 {
  %xs\:grid-cols-#{$i},
  .xs\:grid-cols-#{$i} {
    @include bp-xs() {
      display: grid;
      grid-template-columns: repeat($i, minmax(0, 1fr));
      grid-gap: $space-4x;
    }
  }
}

@for $i from 1 through 12 {
  %sm\:grid-cols-#{$i},
  .sm\:grid-cols-#{$i} {
    @include bp-sm() {
      display: grid;
      grid-template-columns: repeat($i, minmax(0, 1fr));
      grid-gap: $space-4x;
      @include bp-md() {
        grid-gap: $space-10x;
      }
    }
  }
}

@for $i from 1 through 12 {
  %md\:grid-cols-#{$i},
  .md\:grid-cols-#{$i} {
    @include bp-md() {
      display: grid;
      grid-template-columns: repeat($i, minmax(0, 1fr));
      grid-gap: $space-4x;
      @include bp-md() {
        grid-gap: $space-10x;
      }
    }
  }
}

%grid,
.grid {
  display: grid;
}

%\!sm\:grid,
.\!sm\:grid {
  @include bp-sm() {
    display: grid !important;
  }
}

%grid-cols-none,
.grid-cols-none {
  grid-template-columns: none !important;
}

%grid-gap,
.grid-gap {
  grid-gap: $space-4x;
  @include bp-md() {
    grid-gap: $space-10x;
  }
}

%grid-column-gap,
.grid-column-gap {
  grid-column-gap: $space-4x;
  @include bp-md() {
    grid-column-gap: $space-10x;
  }
}

%grid-row-gap,
.grid-row-gap {
  grid-row-gap: $space-4x;
}

%grid-gap-none,
.grid-gap-none {
  grid-column-gap: 0;
}

%grid-row-gap-none,
.grid-row-gap-none {
  grid-row-gap: 0;
}


@for $i from 1 through 12 {
  %span-#{$i},
  .span-#{$i} {
    grid-column: span $i / span $i;
  }
}

@for $i from 1 through 12 {
  %xs\:span-#{$i},
  .xs\:span-#{$i} {
    @include bp-xs() {
      grid-column: span $i / span $i;
    }
  }
}

@for $i from 1 through 12 {
  %sm\:span-#{$i},
  .sm\:span-#{$i} {
    @include bp-sm() {
      grid-column: span $i / span $i;
    }
  }
}

@for $i from 1 through 12 {
  %md\:span-#{$i},
  .md\:span-#{$i} {
    @include bp-md() {
      grid-column: span $i / span $i;
    }
  }
}

%span-full,
.span-full	{
  grid-column: 1 / -1;
}

@for $i from 1 through 12 {
  %start-#{$i},
  .start-#{$i} {
    grid-column-start: $i !important;
  }
}

@for $i from 1 through 12 {
  %end-#{$i},
  .end-#{$i} {
    grid-column-end: $i;
  }
}