/**
 * -----------------------------------------------------------------------------
 * File: component/anchors
 * -----------------------------------------------------------------------------
 *
 */

a:not([class*="btn-"]) {
  color: $color-black;
}

%link,
a.link {
  text-decoration: none;
  transition: color .1s ease-out;
  &:hover {
    text-decoration: none;
  }
}

%link-small,
a.link-sm {
  @extend %fs-14x;
  @extend %sm\:fs-16x;
  @extend %md\:fs-18x;
}

a.link-underline {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;

  &:hover {
    text-decoration: none;
  }
}

a.link-helper {
  @extend %link;
  &:hover {
    color: $color-tertiary;
  }
}
