/**
 * -----------------------------------------------------------------------------
 * File: component/anchors
 * -----------------------------------------------------------------------------
 *
 */


a:not([class*="btn-"]) {
  color: $color-black;
}

%link,
a.link {
  text-decoration: none;
  transition: color .1s ease-out;
  &:hover {
    text-decoration: underline;
  }
}

a.link-helper {
  @extend %link;
  color: $color-tertiary;
}
