/**
 * -----------------------------------------------------------------------------
 * File: components/list
 * -----------------------------------------------------------------------------
 */

%list,
.list {
  list-style-type: disc;
  margin: 0;
  padding: 0;
}

%list-item,
.list-item {
  display: list-item;
  list-style-type: disc;
  margin: 0 0 0 $space-4x;
}