/**
 * -----------------------------------------------------------------------------
 * File: components/list
 * -----------------------------------------------------------------------------
 */

.list {

  .list-row,
  .list-header {
    @extend %grid-cols-12;
    background-color: transparent;
  }

  .list-header {
    min-height: 72px;

    &.is-narrow {
      min-height: 48px;
    }
  }

  .list-row {
    min-height: 40px;
    transition: background-color .06s ease-in;

    &.is-marked,
    &:hover {
      background-color: $color-light-blue;
      cursor: pointer;
    }

    &.is-narrow {
      min-height: auto;
    }

    &.no-hover {
      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }

  .list-item-action,
  .list-item-bullet,
  .list-item-state {
    padding-top: $space-2x;
  }

  .list-item-action,
  .list-item-bullet,
  .list-item-state {
    display: flex;
    justify-content: center;
  }

  .list-item {
    border-top: 1px solid $color-secondary;
    margin-top: -1px;

    &.is-first {
      border-top: 1px solid $color-primary;
    }

    &.list-item__empty {
      border-top: none;
    }
    
    &.list-item__hidden {
      border-top: none;

      * {
        opacity: 0;
      }
    }

    > a, 
    > span {
      color: $color-primary;
      display: block;
      min-height: 60px;
      padding-top: $space-2x;
    }

    > span + span {
      border-top: 1px solid $color-secondary;
    }

    > a {
      text-decoration: none;
    }
  }

  .list-item-header {
    @include font-bold();
    text-transform: uppercase;

    a {
      color: $color-medium-grey;
      display: block;
      margin-top: $space-3x;
    }
  }

  .list-item-state {
    background-color: $color-white;
    position: relative;

    &:before {
      background-color: $color-white;
      content: '';
      height: 100%;
      position: absolute;
      left: -16px;
      top: 0;
      width: 16px;
    }
  }

  .list-item-action,
  .list-item-bullet {
    background-color: $color-white;
    position: relative;

    &:after {
      background-color: $color-white;
      content: '';
      height: 100%;
      position: absolute;
      right: -16px;
      top: 0;
      width: 16px;
    }
  }
}