/**
 * -----------------------------------------------------------------------------
 * File: component/notification
 * -----------------------------------------------------------------------------
 *
 */

.notification {
  @extend %fs-16x;
  @extend %md\:fs-20x;
  z-index: 1001;

  > div {
    background-color: transparent;
    border: 1px solid $color-quaternary;
    cursor: pointer;
    max-width: 80%;
    width: 100%;

    @include bp-sm() {
      max-width: 360px
    }

    @include bp-md() {
      max-width: 480px
    }

    .icon {
      @extend %mb-4x;
    }

    .actions {
      @extend %mt-8x;

      .btn-primary,
      .btn-secondary {
        @extend %mx-auto;
        align-items: center;
        display: flex;
        max-width: 200px;
      }

      .btn-primary {
        background-color: $color-quaternary;
        border: 1px solid $color-quaternary;
        color: $color-white;
      }

      .btn-secondary {
        background-color: $color-white;
        border: 1px solid $color-quaternary;
        color: $color-quaternary;
      }

      .btn-primary + .btn-secondary {
        @extend %mt-3x;
      }

      a:not(.btn-primary):not(.btn-secondary) {
        display: block;
        text-decoration: underline;
        text-underline-offset: 2px;
        text-decoration-thickness: 1px;

        &:hover {
          text-decoration: none;
        }
      }
    }

  }
}

// Modal styled notification
.notification.is-modal {
  align-items: center;
  background-color: rgba(255, 255, 255, .8);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;

  > div {
    @extend %pl-4x;
    @extend %pr-4x;
    @extend %pb-6x;
    @extend %pt-6x;
    @extend %md\:pl-6x;
    @extend %md\:pr-6x;
    @extend %md\:pb-8x;
    @extend %md\:pt-8x;
    background-color: $color-white;
    border: 2px solid $color-quaternary;

    .message {
      @include font-bold();
    }
  }

  &.is-error {
    color: $color-danger;

    .icon {
      color: $color-danger;
    }
    
    > div {
      border-color: $color-danger;
      a:not(.btn-primary) {
        color: $color-danger;
      }
    }
  }

  &.is-success {
    color: $color-success;

    .icon {
      color: $color-success;
    }
    
    > div {
      border-color: $color-success;
      a:not(.btn-primary) {
        color: $color-success;
      }
    }
  }

  &.is-info {
    color: $color-info;

    .icon {
      color: $color-info;
    }
    
    > div {
      border-color: $color-info;
      a:not(.btn-primary) {
        color: $color-info;
      }
    }
  }

  .btn-primary {
    color: $color-white;
  }

}

// Toast styled notification
.notification.is-toast {
  @extend %md\:fs-18x;
  position: fixed;
  right: calc((100% - #{$site-max-width-md})/2 + #{$space-4x});
  top: $space-4x;

  //right: 50%;
  //transform: translateX(50%);

  @include bp-sm() {
    max-width: 360px;
    width: auto;
  }

  @include bp-md() {
    max-width: 480px
  }
  
  > div {
    @extend %pl-4x;
    @extend %pr-4x;
    @extend %pb-2x;
    @extend %pt-2x;
    align-items: center;
    display: flex;
    max-width: none;

    .message {
      @include font-bold();
    }
  }

  &.is-error {
    background-color: $color-danger;
    color: $color-white;

    .icon {
      color: $color-white !important;
    }
    
    > div {
      border-color: $color-danger;
      a {
        color: $color-white;
      }
    }
  }

  &.is-success {
    background-color: $color-success;
    color: $color-white;

    .icon {
      color: $color-white !important;
    }
    
    > div {
      border-color: $color-success;
      a {
        color: $color-white;
      }
    }
  }

  &.is-info {
    background-color: $color-info;
    color: $color-white;

    .icon {
      color: $color-white !important;
    }
    
    > div {
      border-color: $color-info;
      a {
        color: $color-white;
      }
    }
  }
}
