/**
 * -----------------------------------------------------------------------------
 * File: component/reviews
 * -----------------------------------------------------------------------------
 *
 */

[data-app="eapps-google-reviews"] {
  div {
    border-radius: 0 !important;
  }
  div[class^='ReviewBackground__Container'], div[class*=' ReviewBackground__Container']{
    background-color: transparent !important;
    padding-left: 0;
    padding-right: 0;
  }
 
}