/**
 * -----------------------------------------------------------------------------
 * File: components/icons/arrow
 * -----------------------------------------------------------------------------
 */

[class*="icon-arrow-right"],
.icon-arrow-right,
.icon-arrow-left {
  transition: color .1s ease-in;
  span {
    display: block;
  }

  &.is-small {
    @extend %fs-14x;
    @extend %sm\:fs-16x;
    @extend %md\:fs-18x;
  }
}

.icon-arrow-right\:before,
.icon-arrow-right\:after,
.icon-arrow-left\:before,
.icon-arrow-left\:after {
  align-items: center;
  display: flex;
}

.icon-arrow-right\:before,
.icon-arrow-left\:before {
  @extend %link;
  @extend %mb-2x;
  @extend %sm\:mb-4x;

  &:hover {
    color: $color-secondary;
  }

  span {
    @extend %ml-2x;
    @extend %sm\:ml-3x;
  }
}

.icon-arrow-right\:after,
.icon-arrow-left\:after {
  justify-content: space-between;
}

.icon-arrow-right\:below,
.icon-arrow-left\:below {
  display: inline-block;
  &:hover {
    color: $color-secondary;
  }
}


.icon-arrow-right {
  &:hover {
    color: $color-secondary;
  }

  &.is-absolute {
    position: absolute;
    top: $space-10x;
    right: 0;

    svg {
      height: auto;
      width: 20px;
    }
  }
}