/**
 * -----------------------------------------------------------------------------
 * File: components/icons/arrow
 * -----------------------------------------------------------------------------
 */

[class*="icon-arrow-right"],
.icon-arrow-right {
  transition: color .1s ease-in;
  span {
    display: block;
  }

  &.is-small {
    @extend %fs-14x;
    @extend %sm\:fs-16x;
    @extend %md\:fs-18x;
  }
}

.icon-arrow-right\:before,
.icon-arrow-right\:after {
  align-items: center;
  display: flex;
}

.icon-arrow-right\:before {
  @extend %link;
  @extend %mb-2x;
  @extend %sm\:mb-4x;

  &:hover {
    color: $color-secondary;
  }

  span {
    @extend %ml-2x;
    @extend %sm\:ml-3x;
  }
}

.icon-arrow-right\:after {
  justify-content: space-between;
}

.icon-arrow-right\:below {
  display: inline-block;
  &:hover {
    color: $color-secondary;
  }
}