/**
 * -----------------------------------------------------------------------------
 * File: components/icons/filter
 * -----------------------------------------------------------------------------
 */

.icon-bubble {
  background-color: $color-secondary;
  border-radius: 100%;
  display: inline-block;
  height: 5px;
  margin-left: 2px;
  width: 5px;

  @include bp-sm() {
    height: 7px;
    width: 7px;
  }
}