/**
 * -----------------------------------------------------------------------------
 * File: components/icons/facebook
 * -----------------------------------------------------------------------------
 */

.icon-facebook {
  @extend %mx-2x;
  display: block;
  height: 25px;
  width: 25px;

  svg {
    display: block;
    height: auto;
    width: 100%;
  }
}