/**
 * -----------------------------------------------------------------------------
 * File: components/icons/ui
 * -----------------------------------------------------------------------------
 */

%icon,
.icon {
  color: $color-primary;
  display: block;
  text-decoration: none;
}