/**
 * -----------------------------------------------------------------------------
 * File: components/icons/insta
 * -----------------------------------------------------------------------------
 */

.icon-instagram {
  @extend %ml-2x;
  display: block;
  height: 25px;
  width: 25px;
}