/**
 * -----------------------------------------------------------------------------
 * File: components/icons/mail
 * -----------------------------------------------------------------------------
 */

.icon-mail {
  @extend %ml-2x;
  @extend %mr-4x;
  display: block;
  height: 24px;
  width: auto;
}