/**
 * -----------------------------------------------------------------------------
 * File: components/icons/mail
 * -----------------------------------------------------------------------------
 */

.icon-mail {
  @extend %mx-2x;
  display: block;
  height: 24px;
  overflow: hidden;
  width: 34px;

  svg {
    display: block;
    height: 24px;
    width: 34px;
  }
}