/**
 * -----------------------------------------------------------------------------
 * File: components/icons/plus
 * -----------------------------------------------------------------------------
 */

.icon-plus {
  @extend %icon;
  color: $color-primary;
  display: block;
  height: 16px;
  width: 16px;

  &:hover {
    color: $color-secondary;
  }

  &--label {
    @extend %link;
    width: auto;
  }

}