/**
 * -----------------------------------------------------------------------------
 * File: components/icons/profile
 * -----------------------------------------------------------------------------
 */

.icon-profile {
  @extend %sm\:mx-4x;
  @extend %md\:mx-8x;
  display: block;
  height: 16px;
  width: auto;
  
  svg {
    height: inherit;
    width: inherit;
  }

  @include bp-md() {
    height: 20px;
  }
}