/**
 * -----------------------------------------------------------------------------
 * File: components/icons/profile
 * -----------------------------------------------------------------------------
 */

.icon-profile {
  display: block;
  height: 16px;
  width: auto;
  transition: color .1 ease-in;

  svg {
    height: inherit;
    width: inherit;
    transition: color .1 ease-in;
  }

  @include bp-md() {
    height: 20px;
  }

  &:hover,
  svg.is-active {
    color: $color-secondary;
  }
}