/**
 * -----------------------------------------------------------------------------
 * File: components/typo/helpers
 * -----------------------------------------------------------------------------
 *
 * Helper classes for typography
 *
 */

.uc { text-transform: uppercase;}
.lc { text-transform: lowercase; }
.cap { text-transform: capitalize; }
.align-center { text-align: center; }
.align-justify { text-align: justify; }
.align-left { text-align: left; }
.align-right { text-align: right; }
.sm\:align-right {
  @include bp-sm() {
    text-align: right;
  }
}
.nobr { white-space: nowrap; }

/**
 * Typography - Generic elements
 * -----------------------------------------------------------------------------
 */

strong, b {
  @include font-bold()
}

em, i {
  @include font-italic();
}

pre {
  @include font-regular();
  margin: 0;
}

p {
  @extend %mb-3x;
  @extend %md\:mb-4x;

	&:last-child {
		margin-bottom: 0 !important;
	}
}

.text-xsmall {
  @extend %fs-12x;
  @extend %sm\:fs-14x;
  @extend %md\:fs-16x;
}

.text-small {
  @extend %fs-14x;
  @extend %sm\:fs-16x;
  @extend %md\:fs-18x;
}

.text-success {
  color: $color-success;
}

.text-info {
  color: $color-info;
}

.text-danger {
  color: $color-danger;
}


