/**
 * -----------------------------------------------------------------------------
 * File: typo/sizes
 * -----------------------------------------------------------------------------
 *
 */

$fs-sm: (
  null: (12px,1.4),
  sm:   (12px,1.4),
  md:   (14px,1.4),
  lg:   (14px,1.4),
);

$fs-md: (
  null: (14px,1.4),
  sm:   (14px,1.4),
  md:   (16px,1.4),
  lg:   (16px,1.4),
);

$fs-lg: (
  null: (16px,1.4),
  sm:   (16px,1.4),
  md:   (20px,1.4),
  lg:   (20px,1.4),
);

