/**
 * -----------------------------------------------------------------------------
 * File: typo/sizes
 * -----------------------------------------------------------------------------
 *
 */

$fs-sm: (
  null: (12px,1.23),
  sm:   (14px,1.23),
  md:   (14px,1.23),
  lg:   (14px,1.23),
);

$fs-md: (
  null: (14px,1.23),
  sm:   (16px,1.23),
  md:   (18px,1.23),
  lg:   (18px,1.23),
);
