/**
 * -----------------------------------------------------------------------------
 * File: layout/menu/global
 * -----------------------------------------------------------------------------
 */

nav {

  li {
    display: block;
  }

  a {
    display: block;
    transition: all .04s ease-in;
  }
}
