/**
 * -----------------------------------------------------------------------------
 * File: layout/menu/global
 * -----------------------------------------------------------------------------
 */

nav {

  ul {
    margin: 0;
    list-style-type: none;
  }

  li {
    display: block;
    list-style-type: none;
    &:before {
      display: none !important;
    }
  }

  a {
    display: block;
    transition: all .04s ease-in;
  }
}
