/**
 * -----------------------------------------------------------------------------
 * File: layout/menu/site
 * -----------------------------------------------------------------------------
 */

nav.site-menu,
nav.site-menu-dashboard {

  ul {
    li {
      a {
        transition: color .1s ease-in;
      }

      a, span {
        @extend %fs-24x;
        @extend %sm\:fs-16x;
        @extend %md\:fs-20x;
        color: $color-primary;
        @include font-bold();
      }

      &.language-switcher {
        a, span {
          @include font-regular();
        }
      }
    }
  }

  .site-menu__main {
    @extend %sm\:grid-cols-12;
    @extend %grid-column-gap;

    ul {
      @extend %sm\:span-6;
    }
  }

  .site-menu__footer {
    @extend %sm\:hide;
  }
}


@include bp-xs() {
  nav.site-menu {
    background-color: $color-secondary;
    border: 8px solid $color-white;
    border-bottom: 0;
    display: flex;
    flex-direction: column;
    left: 0;
    height: 100%;
    min-height: 100%;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;

    &.is-visible {
      opacity: 1;
      pointer-events: all;
      z-index: 201;
    }

    > div {
      flex: 1;
      padding: $space-2x;

      ul {
        &:first-of-type {
          margin-top: 72px;
        }

        li {
          display: block;

          a {
            align-items: center;
            border-top: 1px solid $color-primary;
            color: $color-primary;
            display: flex;
            justify-content: flex-end;
            min-height: 48px;

            &.is-touched,
            &.is-active,
            &:hover {
              color: $color-white;
            }
          }
        }
      }
    }

    .site-menu__footer {
      align-items: center;
      background-color: $color-white;
      display: flex;
      justify-content: space-between;
      height: 64px;

      > div {
        display: flex;
      }
    }
  }
}

@include bp-sm() {
  nav.site-menu {

    ul {
      display: flex;

      &:first-of-type {
        justify-content: space-between;
      }

      &:last-of-type {
        justify-content: flex-end;
      }

      li {
        align-items: center;
        display: flex;
        &.language-switcher {
          a, span {
            @include font-regular();
          }
        }

        a {
          &.is-touched,
          &.is-active,
          &:hover {
            color: $color-secondary;
          }
        }
      }
    }
  }
}

nav.site-menu-dashboard {
  position: relative;
  overflow-x: hidden;

  ul {
    display: flex;
    justify-content: flex-start;

    &:last-of-type {
      justify-content: flex-end;

      li {
        margin-right: $space-6x;

        a {
          @include font-regular()
        }
      }
    }

    li {
      display: flex;
      margin-right: $space-12x;

      &:last-of-type {
        margin-right: 0;
      }

      a {
        &.router-link-exact-active,
        &.is-touched,
        &.is-active,
        &:hover {
          color: $color-secondary;
        }
      }
    }
  }

  .site-menu__items {
    display: flex;
    justify-content: space-between;
  }

  .site-menu__overflow-items {
    background-color: $color-white;
    border-left: 1px solid $color-primary;
    height: 100%;
    opacity: 0;
    padding-top: $space-5x;
    position: fixed;
    right: calc((100% - #{$site-max-width-md})/2);
    transition: all .0s ease-in;
    top: 0;
    width: 240px;
    z-index: -1;

    &.is-open {
      opacity: 1;
      transition: all .08s ease-in;
      z-index: 501;
    }

    ul {
      align-items: flex-end;
      flex-direction: column;
      margin-right: $space-4x;

      li {
        margin-right: 0;

        &:first-child {
          margin-bottom: $space-2x;
        }

        a {
          @include font-bold();
          padding: $space-2x 0;

          &.logout {
            @include font-regular();
          }
        }
      }
    }
  }
}