/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

$color-black:     #000000;
$color-white:     #ffffff;

$color-primary:    #000000;
$color-secondary:  #46baba;
$color-tertiary:   #969696;
$color-quaternary: #505050;

$color-light:     #eeeeee;

// Notifications
$color-danger:  #ff2800;
$color-warning: #ff944f;
$color-success: #5FAD56;
$color-info:    #505050;

