/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

$color-black:     #000000;
$color-white:     #ffffff;

$color-primary:   #000000;
$color-secondary: #50c8c8;
$color-tertiary:  #969696;

// Notifications
$color-danger:  #ff4600;
$color-success: #548C2F;
$color-info:    #FFD166;

