/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

$color-black:     #000000;
$color-white:     #ffffff;

$color-primary:    #000000;
$color-secondary:  #50c8c8;
$color-tertiary:   #969696;
$color-quaternary: #505050;

$color-light:  #eee;

// Notifications
$color-danger:  #ff2800;
$color-success: #04724D;
$color-info:    #FFBA08;

