/**
 * -----------------------------------------------------------------------------
 * File: config/global
 * -----------------------------------------------------------------------------
 *
 * Global settings and variables
 *
 */
 
/* Box shadows
 * -------------------- */

$box-shadow: 5px 8px 20px 0px rgba(0,0,0,0.45);

/* Default easing
 * -------------------- */

$easing: cubic-bezier(0.980, 0.310, 0.940, 0.840);

/* Urls
 * -------------------- */
 
$url-images: '../img/';
$url-icons:  '../img/icons/';

/* Breakpoints
 * -------------------- */

$bp-xs:  699.999px;
$bp-sm:  700px;
$bp-md: 1020px;
$bp-lg: 1240px;

$breakpoints: (
  sm: $bp-sm,
  md: $bp-md,
  lg: $bp-lg  
);

/* Site config
 * -------------------- */

$site-max-width: 1100px;

$header-min-height-xs: 48px;
$header-min-height-sm: 64px;
$header-min-height-md: 80px;