/**
 * -----------------------------------------------------------------------------
 * File: config/spaces
 * -----------------------------------------------------------------------------
 */

$space-tiny: 2px;
$space-1x:   4px;
$space-2x:   8px;
$space-3x:  12px;
$space-4x:  16px;
$space-5x:  20px;
$space-6x:  24px;
$space-7x:  28px;
$space-8x:  32px;
$space-9x:  36px;
$space-10x: 40px;
$space-11x: 44px;
$space-12x: 48px;
$space-13x: 52px;
$space-14x: 56px;
$space-15x: 60px;
$space-16x: 64px;
$space-17x: 68px;
$space-18x: 72px;
$space-19x: 76px;
$space-20x: 80px;
$space-21x: 84px;
$space-22x: 88px;
$space-23x: 92px;
$space-24x: 96px;
$space-25x: 100px;