/**
 * -----------------------------------------------------------------------------
 * File: layout/article
 * -----------------------------------------------------------------------------
 */

// Articles' shared attributes
article.content-text,
article.content-text-media {
  @extend %fs-16x;
  @extend %sm\:fs-18x;
  @extend %md\:fs-24x;

  h1 {
    margin-bottom: 0;
  }
}

// Article with text/media
article.content-text-media {
  color: $color-secondary;

  h1, h2, p {
    color: $color-secondary;
  }

  figure {
    @extend %xs\:mb-6x;
    img {
      @extend %is-responsive;
    }
  }

  .text-media__body {
    @extend %sm\:grid-cols-12;

    > aside {
      @extend %mb-3x;
      @extend %sm\:span-4;
    }
      
    > div {
      @extend %sm\:span-8;
      @include font-bold();
    }
  }

  @include bp-sm() {
    display: flex;
    flex-direction: column;

    .text-media__visual {
      margin-bottom: $space-8x;
      order: 1;
    }
  
    .text-media__body {
      order: 2;
    }
  }

  &.is-reverse {

    @include bp-sm() {
      .text-media__visual {
        margin-bottom: 0;
        order: 2;
      }
    
      .text-media__body {
        margin-bottom: $space-12x;
        order: 1;
      }
    }
  
    @include bp-md() {
      .text-media__visual {
        margin-bottom: 0;
      }
    }    
  }
}

// Article with text only
article.content-text {
  color: $color-primary;
  position: relative;
  
  h1 {
    color: $color-secondary;
  }

  .text__body {
    @extend %sm\:grid-cols-12;

    > aside {
      @extend %sm\:span-4;
    }
      
    > div {
      @extend %sm\:span-8;
      @extend %mt-6x;
      @extend %sm\:mt-0;
    }
  }
}