/**
 * -----------------------------------------------------------------------------
 * File: layout/base
 * -----------------------------------------------------------------------------
 */

html {
  //min-height: 100vh;
	overflow-y: scroll;

  &.is-auth {
    background-color: $color-secondary;
  }
}

body {
  @extend %p-4x;
  @extend %sm\:pt-7x;
  @extend %fs-16x;
  @extend %sm\:fs-18x;
  @extend %md\:fs-24x;
  @extend %inner-block;
	background-color: $color-white;
	color: $color-primary;
	@include font-smoothing();
	@include font-regular();
  letter-spacing: 0.01em;
  line-height: 1.25;
  min-height: 100vh;
  min-height: calc(100vh - var(--vh-offset, 0px));
  // min-height: -webkit-fill-available;
  // min-height: calc(100vh - #{$space-4x});
  padding-top: 0;
	position: relative;
}


// Scrollbars
@include scrollbar(7px, #bbb);