/**
 * -----------------------------------------------------------------------------
 * File: layout/base
 * -----------------------------------------------------------------------------
 */

html {
	overflow-y: scroll;
}

body {
	background-color: $color-white;
	color: $color-primary;
	@include font-smoothing();
	@include font-regular();
	@include font-size($fs-sm);
	position: relative;
}


// Scrollbars
@include scrollbar(7px, #bbb);