/**
 * -----------------------------------------------------------------------------
 * File: layout/header
 * -----------------------------------------------------------------------------
 */

header.site-header {
  @extend %mb-6x;
  @extend %md\:mb-7x;
  @extend %pt-4x;
  @extend %sm\:pt-7x;
  background-color: $color-white;
  min-height: $header-min-height-xs;
  
  @include bp-sm() {
    min-height: $header-min-height-sm;
  }

  @include bp-md() {
    min-height: $header-min-height-md;
  }

  > div {
    @extend %inner-block;
    @extend %sm\:grid-cols-12;
    @extend %grid-column-gap;
    min-height: inherit;

    @include bp-sm() {
      border-bottom: 1px solid $color-black;
    }
  }

  .site-header__title {
    @extend %pb-3x;
    align-items: flex-end;
    border-bottom: 1px solid $color-black;
    display: flex;
    min-height: 48px;
    
    h1 {
      @extend %fs-24x;
      margin-bottom: 0;
      line-height: 1;
    }
  }
}