/**
 * -----------------------------------------------------------------------------
 * File: components/spaces
 * -----------------------------------------------------------------------------
 *
 * Helpers for inner and outer spacing
 *
 */

// Step
$step: 4px;

// Margin
%mx-auto, .mx-auto { margin-left: auto; margin-right: auto; }

@for $i from 1 through 50 { %my-#{$i}x, .my-#{$i}x { margin: $i * $step 0; } }
@for $i from 1 through 50 { %md\:my-#{$i}x, .md\:my-#{$i}x { @include bp-md() { margin: $i * $step 0; } } }
@for $i from 1 through 50 { %lg\:my-#{$i}x, .lg\:my-#{$i}x { @include bp-lg() { margin: $i * $step 0; } } }

@for $i from 1 through 50 { %mx-#{$i}x, .mx-#{$i}x { margin: 0 $i * $step; } }
@for $i from 1 through 50 { %md\:mx-#{$i}x, .md\:mx-#{$i}x { @include bp-md() { margin: 0 $i * $step; } } }
@for $i from 1 through 50 { %lg\:mx-#{$i}x, .lg\:mx-#{$i}x { @include bp-lg() { margin: 0 $i * $step; } } }

@for $i from 1 through 50 { %mt-#{$i}x, .mt-#{$i}x { margin-top: $i * $step; } }
@for $i from 1 through 50 { %md\:mt-#{$i}x, .md\:mt-#{$i}x { @include bp-md() { margin-top: $i * $step; } } }
@for $i from 1 through 50 { %lg\:mt-#{$i}x, .lg\:mt-#{$i}x { @include bp-lg() { margin-top: $i * $step; } } }

@for $i from 1 through 50 { %mb-#{$i}x, .mb-#{$i}x { margin-bottom: $i * $step; } }
@for $i from 1 through 50 { %sm\:mb-#{$i}x, .sm\:mb-#{$i}x { @include bp-sm() { margin-bottom: $i * $step; } } }
@for $i from 1 through 50 { %md\:mb-#{$i}x, .md\:mb-#{$i}x { @include bp-md() { margin-bottom: $i * $step; } } }
@for $i from 1 through 50 { %lg\:mb-#{$i}x, .lg\:mb-#{$i}x { @include bp-lg() { margin-bottom: $i * $step; } } }

@for $i from 1 through 50 { %ml-#{$i}x, .ml-#{$i}x { margin-left: $i * $step; } }
@for $i from 1 through 50 { %sm\:ml-#{$i}x, .sm\:ml-#{$i}x { @include bp-sm() { margin-left: $i * $step; } } }
@for $i from 1 through 50 { %md\:ml-#{$i}x, .md\:ml-#{$i}x { @include bp-md() { margin-left: $i * $step; } } }
@for $i from 1 through 50 { %lg\:ml-#{$i}x, .lg\:ml-#{$i}x { @include bp-lg() { margin-left: $i * $step; } } }

@for $i from 1 through 50 { %mr-#{$i}x, .mr-#{$i}x { margin-right: $i * $step; } }
@for $i from 1 through 50 { %sm\:mr-#{$i}x, .sm\:mr-#{$i}x { @include bp-sm() { margin-right: $i * $step; } } }
@for $i from 1 through 50 { %md\:mr-#{$i}x, .md\:mr-#{$i}x { @include bp-md() { margin-right: $i * $step; } } }
@for $i from 1 through 50 { %lg\:mr-#{$i}x, .lg\:mr-#{$i}x { @include bp-lg() { margin-right: $i * $step; } } }

.md\:my-0 { @include bp-md() { margin-top: 0; margin-bottom: 0; } }
.lg\:my-0 { @include bp-lg() { margin-top: 0; margin-bottom: 0; } }

.md\:mx-0 { @include bp-md() { margin-left: 0; margin-right: 0; } }
.lg\:mx-0 { @include bp-lg() { margin-left: 0; margin-right: 0; } }

.md\:mt-0 { @include bp-md() { margin-top: 0; } }
.lg\:mt-0 { @include bp-lg() { margin-top: 0; } }

.md\:mr-0 { @include bp-md() { margin-right: 0; } }
.lg\:mr-0 { @include bp-lg() { margin-right: 0; } }

%mb-0, .mb-0 { margin-bottom: 0; }
%sm\:mb-0, .sm\:mb-0 { @include bp-sm() { margin-bottom: 0; } }
%md\:mb-0, .md\:mb-0 { @include bp-md() { margin-bottom: 0; } }
%lg\:mb-0, .lg\:mb-0 { @include bp-lg() { margin-bottom: 0; } }

%mt-0, .mt-0 { margin-bottom: 0; }
%sm\:mt-0, .sm\:mt-0 { @include bp-sm() { margin-top: 0; } }
%md\:mt-0, .md\:mt-0 { @include bp-md() { margin-top: 0; } }
%lg\:mt-0, .lg\:mt-0 { @include bp-lg() { margin-top: 0; } }

%sm\:ml-0, .sm\:ml-0 { @include bp-sm() { margin-left: 0; } }
%md\:ml-0, .md\:ml-0 { @include bp-md() { margin-left: 0; } }
%lg\:ml-0, .lg\:ml-0 { @include bp-lg() { margin-left: 0; } }

// Padding
.px-auto { padding-left: auto; padding-right: auto; }

%sm\:pl-0, .sm\:pl-0 { @include bp-sm() { padding-left: 0; } }
%md\:pl-0, .md\:pl-0 { @include bp-md() { padding-left: 0; } }
%lg\:pl-0, .lg\:pl-0 { @include bp-lg() { padding-left: 0; } }

%sm\:pr-0, .sm\:pr-0 { @include bp-sm() { padding-right: 0; } }
%md\:pr-0, .md\:pr-0 { @include bp-md() { padding-right: 0; } }
%lg\:pr-0, .lg\:pr-0 { @include bp-lg() { padding-right: 0; } }

@for $i from 1 through 50 { %p-#{$i}x, .p-#{$i}x { padding: $i * $step; } }
@for $i from 1 through 50 { %sm\:p-#{$i}x, .sm\:p-#{$i}x { @include bp-sm() { padding: $i * $step; } } }
@for $i from 1 through 50 { %md\:p-#{$i}x, .md\:p-#{$i}x { @include bp-md() { padding: $i * $step; } } }
@for $i from 1 through 50 { %lg\:p-#{$i}x, .lg\:p-#{$i}x { @include bp-lg() { padding: $i * $step; } } }

@for $i from 1 through 50 { %py-#{$i}x, .py-#{$i}x { padding: $i * $step 0; } }
@for $i from 1 through 50 { %sm\:py-#{$i}x, .sm\:py-#{$i}x { @include bp-sm() { padding: $i * $step 0; } } }
@for $i from 1 through 50 { %md\:py-#{$i}x, .md\:py-#{$i}x { @include bp-md() { padding: $i * $step 0; } } }
@for $i from 1 through 50 { %lg\:py-#{$i}x, .lg\:py-#{$i}x { @include bp-lg() { padding: $i * $step 0; } } }

@for $i from 1 through 50 { %px-#{$i}x, .px-#{$i}x { padding: 0 $i * $step; } }
@for $i from 1 through 50 { %sm\:px-#{$i}x, .sm\:px-#{$i}x { @include bp-sm() { padding: 0 $i * $step; } } }
@for $i from 1 through 50 { %md\:px-#{$i}x, .md\:px-#{$i}x { @include bp-md() { padding: 0 $i * $step; } } }
@for $i from 1 through 50 { %lg\:px-#{$i}x, .lg\:px-#{$i}x { @include bp-lg() { padding: 0 $i * $step; } } }

@for $i from 1 through 50 { %pt-#{$i}x, .pt-#{$i}x { padding-top: $i * $step; } }
@for $i from 1 through 50 { %sm\:pt-#{$i}x, .sm\:pt-#{$i}x { @include bp-sm() { padding-top: $i * $step; } } }
@for $i from 1 through 50 { %md\:pt-#{$i}x, .md\:pt-#{$i}x { @include bp-md() { padding-top: $i * $step; } } }
@for $i from 1 through 50 { %lg\:pt-#{$i}x, .lg\:pt-#{$i}x { @include bp-lg() { padding-top: $i * $step; } } }

@for $i from 1 through 50 { %pb-#{$i}x, .pb-#{$i}x { padding-bottom: $i * $step; } }
@for $i from 1 through 50 { %sm\:pb-#{$i}x, .sm\:pb-#{$i}x { @include bp-sm() { padding-bottom: $i * $step; } } }
@for $i from 1 through 50 { %md\:pb-#{$i}x, .md\:pb-#{$i}x { @include bp-md() { padding-bottom: $i * $step; } } }
@for $i from 1 through 50 { %lg\:pb-#{$i}x, .lg\:pb-#{$i}x { @include bp-lg() { padding-bottom: $i * $step; } } }

@for $i from 1 through 50 { %pl-#{$i}x, .pl-#{$i}x { padding-left: $i * $step; } }
@for $i from 1 through 50 { %sm\:pl-#{$i}x, .sm\:pl-#{$i}x { @include bp-sm() { padding-left: $i * $step; } } }
@for $i from 1 through 50 { %md\:pl-#{$i}x, .md\:pl-#{$i}x { @include bp-md() { padding-left: $i * $step; } } }
@for $i from 1 through 50 { %lg\:pl-#{$i}x, .lg\:pl-#{$i}x { @include bp-lg() { padding-left: $i * $step; } } }

@for $i from 1 through 50 { %pr-#{$i}x, .pr-#{$i}x { padding-right: $i * $step; } }
@for $i from 1 through 50 { %sm\:pr-#{$i}x, .sm\:pr-#{$i}x { @include bp-sm() { padding-right: $i * $step; } } }
@for $i from 1 through 50 { %md\:pr-#{$i}x, .md\:pr-#{$i}x { @include bp-md() { padding-right: $i * $step; } } }
@for $i from 1 through 50 { %lg\:pr-#{$i}x, .lg\:pr-#{$i}x { @include bp-lg() { padding-right: $i * $step; } } }