/**
 * -----------------------------------------------------------------------------
 * File: components/utilities
 * -----------------------------------------------------------------------------
 */

.xs\:hide {
  @include bp-xs() {
    display: none !important;
  }
}

%sm\:hide,
.sm\:hide {
  @include bp-sm() {
    display: none !important;
  }
}

%sm\:block,
.sm\:block {
  @include bp-sm() {
    display: block;
  }
}

%\!sm\:block,
.\!sm\:block {
  @include bp-sm() {
    display: block !important;
  }
}