/**
 * -----------------------------------------------------------------------------
 * File: components/utilities
 * -----------------------------------------------------------------------------
 */

.xs\:hide {
  @include bp-xs() {
    display: none !important;
  }
}

%sm\:hide,
.sm\:hide {
  @include bp-sm() {
    display: none !important;
  }
}

%sm\:block,
.sm\:block {
  @include bp-sm() {
    display: block;
  }
}

%\!sm\:block,
.\!sm\:block {
  @include bp-sm() {
    display: block !important;
  }
}

%\!md\:inline-block,
.\!md\:inline-block {
  @include bp-md() {
    display: inline-block !important;
  }
}

%\!hide,
.\!hide {
  display: none !important;
}

%\!block,
.\!block {
  display: block !important;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}