/**
 * -----------------------------------------------------------------------------
 * File: components/lists/global
 * -----------------------------------------------------------------------------
 */

%unordered-list,
.unordered-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


%unordered-list-item,
.unordered-list-item {
  display: list-item;
  list-style-type: none;
  margin: 0 0 0 $space-5x;
  position: relative;

  &:before {
    content: '\2013';
    position: absolute;
    top: 3px;
    margin-left: -18px;
  }
}

%content-list-item,
%content-list-collapsible,
.content-list-item,
.content-list-collapsible {
  @extend %mb-16x;
  @extend %sm\:fs-16x;
  @extend %md\:fs-18x;

  @include bp-sm() {
    border-top-width: 2px;
  }

  > h2 {
    @extend %fs-14x;
    @extend %sm\:fs-16x;
    @extend %md\:fs-18x;
    @include font-bold();
    line-height: 1 !important;
  }
}

%content-list-item,
.content-list-item {
  border-top: 1px solid $color-tertiary;
  @include bp-sm() {
    border-top-width: 2px;
  }

  > h2 {
    color: $color-tertiary;
  }
}

%content-list-collapsible,
.content-list-collapsible {
  border-top: 1px solid $color-quaternary;
  @include bp-sm() {
    border-top-width: 2px;
  }

  > h2 {
    color: $color-quaternary;
  }
}

%content-list-item,
.content-list-item {
  @extend %pt-2x;
  @extend %sm\:pt-4x;
}

.content-list-header {
  @include bp-sm() {

    &.flex {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

  }

  + .collapsible-container {
    @extend %md\:mt-8x;
  }
}
