/**
 * -----------------------------------------------------------------------------
 * File: components/lists/stacked
 * -----------------------------------------------------------------------------
 */

%stacked-list,
.stacked-list {
  @extend %sm\:fs-16x;
  @extend %md\:fs-18x;
  @extend %mt-4x;
  @extend %pt-2x;
  @extend %sm\:mt-8x;
  @extend %sm\:pt-4x;
  border-top: 1px solid $color-primary;
  line-height: 1.5;
  position: relative;

  @include bp-sm() {
    line-height: 1.4;
  }

  > div {
    @extend %sm\:grid-cols-12;
  }

  &__col {
    @extend %sm\:span-4;
  }

  &__col--action {
    @extend %md\:flex;
    @extend %items-start;
    @extend %justify-between;
  }

  &__icon {
    @extend %sm\:pr-4x;
    @extend %sm\:pt-1x;
  }

  &__action {
    @extend %xs\:mt-6x;
    @extend %sm\:mt-0;
  }

  h2 {
    @include font-bold();
  }

  a:not([class*="btn-"]) {


    &:hover {
      color: $color-secondary;
    }
  }
}

// Container
.stacked-list-container {
  @extend %mt-12x;
  @extend %md\:mt-16x;
}

// Header
.stacked-list-header {
  @extend %sm\:fs-16x;
  @extend %md\:fs-18x;
  @extend %sm\:grid-cols-12;

  > div {
    @extend %mb-2x;
  }

  h2 {
    @include font-bold();
  }
}

// Footer
.stacked-list-footer {
  border-top: 2px solid $color-tertiary;
  @extend %mt-8x;
  @extend %sm\:mt-12x;
  @extend %grid-cols-12;

  > div {
    @extend %span-6;
    display: flex;
    justify-content: flex-end;

    &:first-of-type {
      justify-content: flex-start;
    }
  }
}

// Stacked list for 'Events'
.stacked-list-event {
  @extend %stacked-list;

  &.is-booked {
    border-top-color: $color-secondary;
    *:not([class*=btn-]) {
      color: $color-secondary;
    }
  }

  &.is-booked-error {
    border-top-color: $color-danger;
    *:not([class*=btn-]) {
      color: $color-danger;
    }
  }

  .stacked-list__col--action {
    @include bp-sm() {
      display: flex;
      justify-content: space-between;

      &.justify-end {
        justify-content: flex-end;
      }

      > div:not(.stacked-list__action) {
        margin-right: $space-8x;
      }

      > div:last-of-type {
        margin-right: 0 !important;
      }

      .list_stacked-list__action_action {
        margin-top: 0;
      }
    }
    @include bp-md() {
      > div:not(.stacked-list__action) {
        margin-right: $space-12x;
      }
    }
  }
}
 
@include bp-xs() {
  .stacked-list-event {
    .list__action {
      right: 0;
      position: absolute;
      top: $space-3x;
    }
  }
}

// Stacked list for various items
.stacked-list-item {
  @extend %stacked-list;
}


 