/**
 * -----------------------------------------------------------------------------
 * File: components/cards/landing
 * -----------------------------------------------------------------------------
 */

.card-news, 
.card-code {
  @extend %pt-2x;
  @extend %md\:pt-4x;
  @extend %fs-16x;
  @extend %sm\:fs-18x;
  @extend %md\:fs-24x;
  border-top: 1px solid $color-primary;

  header {

    h2 {
      @extend %fs-10x;
      @extend %sm\:fs-13x;
      @extend %md\:fs-16x;
      @extend %mb-1x;
      @include font-medium();
      color: $color-quaternary;
      line-height: 1;
    }
  }
}

.card-news {

  img {
    @include bp-xs() {
      display: none;
    }
    aspect-ratio: 2.929/4;
    object-fit: cover;
  }

  &__text {
    @extend %mt-3x;
    @extend %sm\:mt-6x;
  }
}

.card-code {
  header {
    @extend %mb-2x;
    @extend %sm\:mb-2x;
  }
}
