/**
 * -----------------------------------------------------------------------------
 * File: components/cards/teaser
 * -----------------------------------------------------------------------------
 */

.card-teaser {
  @extend %card;
  border: 1px solid $color-secondary;

  a {
    color: $color-black;
  }

  header {
    min-height: 70px;
    @include bp-sm() {
      min-height: 90px
    }
    @include bp-md() {
      min-height: 130px
    }
  }

  &__category {
    @extend %fs-10x;
    @extend %sm\:fs-13x;
    @extend %md\:fs-16x;
    @extend %mb-1x;
    @include font-medium();
    color: $color-quaternary;
    line-height: 1;
  }

  &__heading {
    @extend %fs-16x;
    @extend %sm\:fs-20x;
    @extend %md\:fs-28x;
    @extend %word-break;
    @include font-regular();
    color: $color-secondary;
    line-height: 1.2;
  }

  &__list {
    @extend %mb-4x;
    @extend %sm\:mb-6x;
  }

  figure {
    @extend %mt-2x;
    display: block;
    position: relative;

    > div {
      @extend %p-2x;
      @extend %md\:p-4x;
      @extend %sm\:fs-14x;
      @extend %md\:fs-18x;
      @include font-bold();
      line-height: 1.2;
      background-color: $color-secondary;
      color: $color-white;
      display: none;
      height: 100%;
      position: absolute;
      opacity: 0;
      transition: opacity .12s ease-in-out;
      width: 100%;

      * {
        @include font-bold();
        color: $color-white;
      }

      @include bp-sm() {
        display: block;
      }

      h3 {
        @extend %mb-2x;
      }

      ul {
        @extend %unordered-list;

        li {
          @extend %unordered-list-item;
          @extend %py-1x;
        }
      }
    }
  }

  > a:hover {

    figure {

      > div {
        opacity: 1;
      }

    }
  }
}
