/**
 * -----------------------------------------------------------------------------
 * File: components/cards/text-media
 * -----------------------------------------------------------------------------
 */

%card-text-media,
.text-media {
  @extend %fs-16x;
  @extend %sm\:fs-18x;
  @extend %md\:fs-24x;
  color: $color-secondary;

  .content__text {
    @include font-bold();
  }

  h1, h2, p {
    color: $color-secondary;
  }

  h1 {
    margin-bottom: 0;
  }

  header {
    @extend %mb-3x;
  }

  figure {
    @extend %xs\:mb-6x;
    img {
      @extend %is-responsive;
    }
  }
    
  @include bp-sm() {
    display: flex;
    flex-direction: column;

    .text-media__visual {
      margin-bottom: $space-8x;
      order: 1;
    }
  
    .text-media__content {
      order: 2;
    }
  }

  &.is-reverse {

    @include bp-sm() {
      .text-media__visual {
        margin-bottom: 0;
        order: 2;
      }
    
      .text-media__content {
        margin-bottom: $space-12x;
        order: 1;
      }
    }
  
    @include bp-md() {
      .text-media__visual {
        margin-bottom: 0;
      }
    }    
  }
}