/**
 * -----------------------------------------------------------------------------
 * File: components/cards/text
 * -----------------------------------------------------------------------------
 */

// Article
article.text {
  @extend %fs-16x;
  @extend %sm\:fs-18x;
  @extend %md\:fs-24x;
  color: $color-primary;
  position: relative;
  
  h1 {
    color: $color-secondary;
    margin-bottom: 0;
  }

  .text__content {
    @extend %sm\:grid-cols-12;

    > aside {
      @extend %sm\:span-4;
    }
      
    > div {
      @extend %sm\:span-8;
      @extend %mt-6x;
      @extend %sm\:mt-0;
    }
  }
}

// Card
article.card-text {
  @extend %mt-4x;
  @extend %pt-2x;
  @extend %sm\:mt-8x;
  @extend %sm\:pt-4x;
  border-top: 1px solid $color-primary;
  line-height: 1.5;
  position: relative;

  @include bp-sm() {
    line-height: 1.4;
  }

  > div {
    @extend %sm\:grid-cols-12;

    aside {
      @extend %sm\:span-4;
    }

    > div {
      @extend %sm\:span-8;
    }
  }

  h2, h3 {
    color: $color-primary;
  }

}