/**
 * -----------------------------------------------------------------------------
 * File: views/message
 * -----------------------------------------------------------------------------
 */

.message {
  @extend %lightbox;

  &.is-visible {
    cursor: pointer;
    .message__inner {
      cursor: default;
    }
  }

  .message__inner {
    @extend %p-2x;
    @extend %sm\:p-4x;
    max-width: 700px;
    width: 90%;

    @include bp-sm() {
      min-width: 480px;
      width: auto;
    }

    header {
      @extend %mb-3x;
      @extend %pb-2x;
      @extend %sm\:mb-6x;
      @extend %sm\:pb-2x;
      border-bottom: 1px solid $color-quaternary;
      width: auto;

      > div {
        @extend %grid-cols-12;

        &:first-of-type {
          @extend %pr-3x;
        }
      }
    }

    footer {
      @extend %mt-3x;
      @extend %pt-2x;
      @extend %sm\:mt-6x;
      border-top: 1px solid $color-quaternary;
      width: auto;

      a {
        color: $color-quaternary;
        display: block;
        transition: color .12s ease-in;

        &:hover {
          color: $color-tertiary;
        }
      }
    }
  }
}
